*{
    margin: 0;
}
body{
    height: 94vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d0d4;
}
.Board{
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.Screen{
    width: 320px;
    padding: 10px 2px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    text-align: end;
    font-weight: bold;
    font-size: 45px;
    height:50px;
}

.CalcNum{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    column-gap: 4px;
    row-gap: 5px;
}
.Btn{
    border: none;
    padding: 20px 10px;
    background-color: #d6d6d6;
    /* border-radius: 10px; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 140px;
    cursor: pointer;
    font-weight: bold;
    color: #696363;
}

.Btn:hover{
    transform:scale(0.9);
    box-shadow:inset 0px 0px 4px #ffffff,-1px -1px 12px rgb(0,0,.4);
}

#equal{
    padding: 20px  80px ;
}

#Zero{
    color:#d4d0d4 ;
}

#SmallFont{
    font-size: 30px;
}
#XSmallFont{
    font-size: 20px;
}

#Del{
    background-color: #f0cccc;
}
#Clr{
    background-color: #cff4c7;
}
#equal{
    background-color: #f3f0a2;
}

#symbol{
    background-color: #adadad;
}

